p.slot {
	width:  100%;
	height: 40px;
	border: 1px solid #FFF;
}

p.content-available{
	background-color: #00F;
	color : #FFF;
}

p.content-unavailable {
	background-color: #BBB;
}


div.day {
	display: table-cell;
}

table#msgBoxContent td {
	text-align: left;
	padding-right: 10px;
}
div#calendarWrapper {
	display: table;
    table-layout: fixed;
    width: 100%;
} 